body {
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  color: white;
  background-color: cornflowerblue;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  width: 90%;
}

form {
  padding: 20px;
  background-color: rgb(14, 52, 119, 0.5);
}

/* Column Layout*/

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  height: 100vh;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.right-align {
  text-align: right;
  align-items: right;
}

.center-align {
  text-align: center;
  align-items: center;
}

.behind {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  color: rgb(163, 200, 217, 0.5);
}

.front {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#secondary {
  text-align: right;
  align-items: right;
  position: absolute;
  bottom: 10px;
}

#list span:hover {
  background-color: #7764ed;
}

#list span.selected {
  background-color: #ed6495;
}

#array {
  text-decoration: underline #95ed64;
}
