body {
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

img {
  width: 90%;
}

/* Column Layout*/

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  height: 100vh;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.right-align {
  text-align: right;
  align-items: right;
}

.center-align {
  text-align: center;
  align-items: center;
}

.behind {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  color: lightblue;
}

.front {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

#secondary {
  text-align: right;
  align-items: right;
  position: absolute;
  bottom: 10px;
}

#list span:hover {
  background-color: yellow;
}

#list span.selected {
  background-color: lightblue;
}
